/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jun, 2018, 9:59:50 PM
    Author     : lrearth
*/
.m-portlet {
	margin-bottom: 2.2rem
}

.m-portlet .m-portlet__head {
	display: table;
	padding: 0;
	width: 100%;
	padding: 0 2.2rem;
	height: 5.1rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption {
	display: table-cell;
	vertical-align: middle;
	text-align: left
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title {
	display: table;
	table-layout: fixed;
	height: 100%
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon {
	display: table-cell;
	vertical-align: middle;
	line-height: 0;
	padding: 0 13px 0 0
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" la-"],
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=la-] {
	font-size: 1.6rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" fa-"],
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=fa-] {
	font-size: 1.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" flaticon-"],
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=flaticon-] {
	font-size: 1.8rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon i {
	vertical-align: middle;
	line-height: 0;
	display: inline-block
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3rem;
	font-weight: 500;
	font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
	display: inline-block;
	padding-left: 5px;
	font-size: 1rem;
	font-weight: 300;
	font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
	margin-top: .4rem;
	display: block;
	font-size: .85rem;
	font-weight: 300;
	font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-tools {
	text-align: right;
	display: table-cell;
	vertical-align: middle
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav {
	display: table;
	text-align: right;
	float: right;
	padding: 0;
	margin: 0;
	height: 100%;
	list-style: none
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item.m-portlet__nav-item--last {
	padding-right: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link {
	display: inline-block;
	vertical-align: middle
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon {
	padding: 0 2px
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" la-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=la-] {
	font-size: 1.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" fa-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=fa-] {
	font-size: 1.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" flaticon-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=flaticon-] {
	font-size: 1.8rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" la-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=la-] {
	font-size: 1.8rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" fa-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=fa-] {
	font-size: 1.6rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" flaticon-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=flaticon-] {
	font-size: 2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" la-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=la-] {
	font-size: 2.2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" fa-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=fa-] {
	font-size: 2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" flaticon-"],
.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=flaticon-] {
	font-size: 2.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	vertical-align: middle;
	line-height: 0;
	display: inline-block
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link:hover {
	text-decoration: none
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item:first-child .m-portlet__nav-item {
	padding-right: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-pills,
.m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-tabs {
	margin: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-pills.m-nav-pills--align-right {
	float: right
}

.m-portlet .m-portlet__head.m-portlet__head--fit {
	position: relative;
	z-index: 1
}

.m-portlet .m-portlet__body {
	padding: 2.2rem 2.2rem
}

.m-portlet .m-portlet__body.m-portlet__body--no-padding {
	padding: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-top-padding {
	padding-top: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-left-padding {
	padding-left: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-right-padding {
	padding-right: 0
}

.m-portlet .m-portlet__foot {
	padding: 1.1rem 2.2rem
}

.m-portlet .m-portlet__foot.m-portlet__foot--fit {
	padding: 0
}

.m-portlet.m-portlet--collapse .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link>i.la-angle-down:before,
.m-portlet.m-portlet--collapsed .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link>i.la-angle-down:before {
	content: "\f113"
}

.m-portlet.m-portlet--collapse .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link>i.la-plus:before,
.m-portlet.m-portlet--collapsed .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link>i.la-plus:before {
	content: "\f28e"
}

.m-portlet.m-portlet--collapsed>.m-form,
.m-portlet.m-portlet--collapsed>.m-portlet__body {
	display: none
}

.m-portlet.m-portlet--fullscreen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0
}

.m-portlet.m-portlet--fullscreen>.m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item [data-portlet-tool=toggle]>i {
	opacity: .5
}

.m-portlet.m-portlet--fullscreen>.m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link>i.la-expand:before {
	content: "\f1a4"
}

.m-portlet.m-portlet--fullscreen>.m-form,
.m-portlet.m-portlet--fullscreen>.m-portlet__body {
	left: 0;
	right: 0;
	top: 5.1rem;
	bottom: 0;
	position: fixed;
	overflow: auto
}

.m-portlet.m-portlet--fullscreen.m-portlet--head-sm>.m-portlet__body {
	top: 4.1rem
}

.m-portlet.m-portlet--fit {
	position: relative
}

.m-portlet.m-portlet--widget-fit .m-portlet__head {
	position: relative;
	z-index: 1
}

.m-portlet.m-portlet--bordered-semi .m-portlet__body {
	padding-top: .5rem
}

.m-portlet.m-portlet--space {
	padding: 0 2.2rem
}

.m-portlet.m-portlet--space .m-portlet__head {
	padding: 2.2rem 0
}

.m-portlet.m-portlet--space .m-portlet__body {
	padding: 2.2rem 0
}

.m-portlet.m-portlet--space .m-portlet__foot>.m-form__actions {
	padding: 2.2rem 0
}

.m-portlet .m-portlet__padding-x {
	padding: 0 2.2rem
}

.m-portlet.m-portlet--tabs .m-portlet__head {
	padding: 0 2.2rem
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
	padding: 0
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line {
	position: relative;
	height: 100%;
	margin: 0;
	border-bottom-color: transparent;
	bottom: -1px
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	height: 100%;
	padding: 1.7rem 0 1.5rem 0
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line.m-tabs-line--2x {
	bottom: -3px
}

.m-portlet.m-portlet--last {
	margin-bottom: 0
}

.m-portlet.m-portlet--head-sm .m-portlet__head {
	height: 4.1rem
}

.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools {
	padding: 0
}

.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	height: 100%;
	padding: 1.2rem 0 1.2rem 0
}

.m-portlet.m-portlet--head-sm .m-portlet__body,
.m-portlet.m-portlet--head-sm .m-portlet__foot {
	padding-top: 1.7rem;
	padding-bottom: 1.7rem
}

.m-portlet.m-portlet--unair {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.m-portlet.m-portlet--rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.m-portlet.m-portlet--rounded .m-portlet__head {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px
}

.m-portlet.m-portlet--rounded .m-portlet__body {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.m-portlet.m-portlet--rounded .m-portlet__foot {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.m-portlet.m-portlet--rounded-force {
	overflow: hidden
}

@media (max-width:768px) {
	.m-portlet.m-portlet--responsive-mobile .m-portlet__head {
		display: block;
		height: auto
	}
	.m-portlet.m-portlet--responsive-mobile .m-portlet__head .m-portlet__head-caption {
		display: block;
		padding-top: .9rem;
		padding-bottom: .9rem
	}
	.m-portlet.m-portlet--responsive-mobile .m-portlet__head .m-portlet__head-tools {
		text-align: left;
		display: block;
		padding-top: .45rem;
		padding-bottom: .9rem
	}
}

@media (max-width:1024px) {
	.m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head {
		display: block;
		height: auto
	}
	.m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head .m-portlet__head-caption {
		display: block;
		padding-top: .9rem;
		padding-bottom: .9rem
	}
	.m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head .m-portlet__head-tools {
		text-align: left;
		display: block;
		padding-top: .45rem;
		padding-bottom: .9rem
	}
}

.m-portlet .m-form.m-form--fit>.m-portlet__body {
	padding-left: 0;
	padding-right: 0
}

.m-portlet.m-portlet--sortable .m-portlet__head {
	cursor: move
}

.m-portlet.m-portlet--sortable-empty {
	visibility: hidden;
	height: 45px;
	min-height: 125px
}

.m-portlet .m-portlet-fit--sides {
	margin-left: -2.2rem;
	margin-right: -2.2rem
}

.m-portlet .m-portlet-fit--bottom {
	margin-bottom: -2.2rem
}

.m-portlet .m-portlet-fit--top {
	margin-top: -7.3rem
}

.m-portlet.m-portlet--bordered-semi .m-portlet-fit--top {
	margin-top: -5.6rem
}

.m-portlet .m-portlet__body-separator {
	height: 0;
	overflow: hidden;
	margin: 30px -2.2rem
}

.m-portlet.m-portlet--creative {
	padding-top: 3.5rem;
	margin-top: 3.5rem
}

.m-portlet.m-portlet--creative.m-portlet--first {
	margin-top: 1.375rem
}

.m-portlet.m-portlet--creative .m-portlet__head {
	height: 2.75rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: left
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" la-"],
.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=la-] {
	font-size: 1.3rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" fa-"],
.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=fa-] {
	font-size: 1.2rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" flaticon-"],
.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=flaticon-] {
	font-size: 1.4rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
	font-size: 1rem;
	font-weight: 400;
	font-family: Poppins
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
	font-size: .8rem;
	font-weight: 300
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label {
	position: absolute;
	top: -5.25rem;
	left: 0;
	font-size: 1.2rem;
	font-weight: 500;
	display: table;
	padding: 0 1.75rem;
	height: 3.5rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label>span {
	vertical-align: middle;
	display: table-cell
}

.m-portlet.m-portlet--head-overlay {
	overlay: hidden
}

.m-portlet.m-portlet--head-overlay .m-portlet__head {
	position: relative;
	border: 0;
	z-index: 2
}

.m-portlet.m-portlet--head-overlay .m-portlet__body {
	position: relative;
	z-index: 1;
	margin-top: -5.1rem;
	padding-top: 0
}

@media (min-width:1025px) {
	.m-portlet.m-portlet--full-height {
		height: calc(100% - 2.2rem)
	}
	.m-portlet.m-portlet--full-height .m-portlet__body {
		height: calc(100% - 2.2rem - 2.2rem)
	}
	.m-portlet.m-portlet--half-height {
		height: calc(50% - 2.2rem)
	}
}

body.m-portlet--fullscreen {
	overflow: hidden!important
}

body.m-portlet--fullscreen.m-header--fixed .m-header {
	display: none
}

body.m-portlet--fullscreen.m-aside-left--fixed .m-aside-left {
	display: none
}

@media (max-width:1024px) {
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
		font-size: 1.1rem
	}
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
		font-size: .85rem
	}
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
		font-size: .85rem
	}
}

@media (max-width:768px) {
	.m-portlet.m-portlet--tabs .m-portlet__head {
		display: block;
		height: auto;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-caption {
		display: block;
		float: none
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
		display: block;
		float: none;
		margin-top: 1rem
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line {
		float: none
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line>.nav-item.m-tabs__item {
		margin-right: .75rem
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line>.nav-item.m-tabs__item>.nav-link.m-tabs__link {
		padding: .5rem 0
	}
	.m-portlet.m-portlet--tabs.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line>.nav-item.m-tabs__item>.nav-link.m-tabs__link {
		padding: .5rem 1rem
	}
}

.m-portlet {
	-webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
	-moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
	background-color: #fff
}

.m-portlet .m-portlet__head {
	border-bottom: 1px solid #ebedf2
}

.m-portlet .m-portlet__head .m-portlet__head-icon {
	color: #b2b1c5
}

.m-portlet .m-portlet__head .m-portlet__head-text {
	color: #575962
}

.m-portlet .m-portlet__head .m-portlet__head-text .m-portlet__head-desc,
.m-portlet .m-portlet__head .m-portlet__head-text small {
	color: #afb2c1
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #afb0c7
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #716aca
}

.m-portlet .m-portlet__body {
	color: #575962
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border) {
	border-top: 1px solid #ebedf2
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot--top {
	border-top: 0;
	border-bottom: 1px solid #ebedf2
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot-no-border {
	border: 0
}

.m-portlet.m-portlet--bordered {
	border: 1px solid #ebedf2
}

.m-portlet.m-portlet--bordered-semi .m-portlet__head {
	border: 0
}

.m-portlet.ui-sortable-helper {
	border: 1px dashed #ebedf2
}

.m-portlet .m-portlet__body-separator {
	border-bottom: 1px solid #f4f5f8
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label {
	-webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25);
	-moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25);
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .25)
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--brand {
	background: #716aca;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--metal {
	background: #c4c5d6;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--light {
	background: #fff;
	color: #282a3c
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--accent {
	background: #00c5dc;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--focus {
	background: #9816f4;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--primary {
	background: #5867dd;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--success {
	background: #34bfa3;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--info {
	background: #36a3f7;
	color: #fff
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--warning {
	background: #ffb822;
	color: #111
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--danger {
	background: #f4516c;
	color: #fff
}

.m-portlet.m-portlet--skin-dark {
	-webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .55);
	-moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .55);
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .55);
	background-color: #2c2e3e
}

.m-portlet.m-portlet--skin-dark .m-portlet__head {
	border-bottom: 1px solid #a1a4b1
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-icon {
	color: #fff
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-text .m-portlet__head-desc,
.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-text small {
	color: #c9c9e0
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: rgba(255, 255, 255, .6)
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--skin-dark .m-portlet__body {
	color: #fff
}

.m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border) {
	border-top: 1px solid #a1a4b1
}

.m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot--top {
	border-top: 0;
	border-bottom: 1px solid #a1a4b1
}

.m-portlet.m-portlet--skin-dark .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot-no-border {
	border: 0
}

.m-portlet.m-portlet--skin-dark.m-portlet--bordered {
	border: 1px solid #a1a4b1
}

.m-portlet.m-portlet--skin-dark.m-portlet--bordered-semi .m-portlet__head {
	border: 0
}

.m-portlet.m-portlet--skin-dark.ui-sortable-helper {
	border: 1px dashed #a1a4b1
}

.m-portlet.m-portlet--skin-dark .m-portlet__body-separator {
	border-bottom: 1px solid #999caa
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label {
	-webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3);
	-moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3);
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .3)
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--brand {
	background: #716aca;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--metal {
	background: #c4c5d6;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--light {
	background: #fff;
	color: #282a3c
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--accent {
	background: #00c5dc;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--focus {
	background: #9816f4;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--primary {
	background: #5867dd;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--success {
	background: #34bfa3;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--info {
	background: #36a3f7;
	color: #fff
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--warning {
	background: #ffb822;
	color: #111
}

.m-portlet.m-portlet--skin-dark.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--danger {
	background: #f4516c;
	color: #fff
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg {
	background: #716aca;
	border-color: #716aca
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #716aca;
	border-color: #716aca
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--brand.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #716aca
}

.m-portlet.m-portlet--border-bottom-brand {
	border-bottom: 3px solid #716aca
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg {
	background: #c4c5d6;
	border-color: #c4c5d6
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #c4c5d6;
	border-color: #c4c5d6
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--metal.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #c4c5d6
}

.m-portlet.m-portlet--border-bottom-metal {
	border-bottom: 3px solid #c4c5d6
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg {
	background: #fff;
	border-color: #fff
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #fff;
	border-color: #fff
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #222433
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #282a3c
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #1c1d2a
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #222433
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #282a3c
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #282a3c;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #1c1d2a
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #282a3c;
	border: 0;
	background: rgba(40, 42, 60, .08)
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #32354b
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--light.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #fff
}

.m-portlet.m-portlet--border-bottom-light {
	border-bottom: 3px solid #fff
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg {
	background: #00c5dc;
	border-color: #00c5dc
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #00c5dc;
	border-color: #00c5dc
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #00c5dc
}

.m-portlet.m-portlet--border-bottom-accent {
	border-bottom: 3px solid #00c5dc
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg {
	background: #9816f4;
	border-color: #9816f4
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #9816f4;
	border-color: #9816f4
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--focus.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #9816f4
}

.m-portlet.m-portlet--border-bottom-focus {
	border-bottom: 3px solid #9816f4
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg {
	background: #5867dd;
	border-color: #5867dd
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #5867dd;
	border-color: #5867dd
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #5867dd
}

.m-portlet.m-portlet--border-bottom-primary {
	border-bottom: 3px solid #5867dd
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg {
	background: #34bfa3;
	border-color: #34bfa3
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #34bfa3;
	border-color: #34bfa3
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #34bfa3
}

.m-portlet.m-portlet--border-bottom-success {
	border-bottom: 3px solid #34bfa3
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg {
	background: #36a3f7;
	border-color: #36a3f7
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #36a3f7;
	border-color: #36a3f7
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #36a3f7
}

.m-portlet.m-portlet--border-bottom-info {
	border-bottom: 3px solid #36a3f7
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg {
	background: #ffb822;
	border-color: #ffb822
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #ffb822;
	border-color: #ffb822
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #090909
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #111
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #020202
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #090909
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #111
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #111;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #020202
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #111;
	border: 0;
	background: rgba(17, 17, 17, .08)
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #1e1e1e
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--warning.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #ffb822
}

.m-portlet.m-portlet--border-bottom-warning {
	border-bottom: 3px solid #ffb822
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg {
	background: #f4516c;
	border-color: #f4516c
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head {
	background-color: #f4516c;
	border-color: #f4516c
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
	color: #f7f7f7
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
	color: #fff
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
	color: #f0f0f0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
	color: #f7f7f7
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
	color: #fff
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
	border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
	bottom: 0;
	border: 0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
	margin: 0 1px 0 0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
	margin-right: 0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	border: 0;
	opacity: .8
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link>i {
	color: #f0f0f0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	border-bottom: 0
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link,
.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	opacity: 1;
	background: 0 0;
	color: #fff;
	border: 0;
	background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link>i,
.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active>i,
.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover>i {
	color: #fff
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__body {
	background: #fff
}

.m-portlet.m-portlet--danger.m-portlet--head-solid-bg .m-portlet__foot {
	background: #fff;
	border-color: #f4516c
}

.m-portlet.m-portlet--border-bottom-danger {
	border-bottom: 3px solid #f4516c
}

